---
title: Program
layout: page
slide_id: 4
---


<div class="row mt-xs-0 mt-sm-0 my-2">
    <div class="col conference-text">
        {% if site.data.program.online.live %}
        <h6 class="text-info">Online</h6>
        <p>
            The conference will be streamed live{% if site.data.program.online.record %} and recorded for each day{% endif %}.
            <br>
            The event can be accessed online at: <a href="{{site.data.program.online.url}}">{{site.data.program.online.url}}</a>
        </p>
        <p>
            {% if site.data.program.online.streams %}
            <table class="table">
                <tr>
                    <th>Stream</th>
                    <th>Link</th>
                </tr>
                {% for stream in site.data.program.online.streams %}
                <tr>
                    <td>{{stream.title}}</td>
                    <td><a href="{{stream.url}}">{{stream.url}}</a></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </p>
        {% endif %}
        <h6 class="text-info">Schedule</h6>
        {% if site.data.program.schedule != nil %}
        {% for day in site.data.schedule %}
        <div>
            <h4 class="schedule-table-heading">{{ day.dateReadable }} - Day {{ forloop.index }}</h4>
            <table class="table table-bordered table-striped table-hover table-responsive table-sm">
                {% for timeslot in day.timeslots %}
                <thead>
                    <tr>
                        <th class="bg-info text-center">
                            <div>{{timeslot.startTime}}-{{timeslot.endTime}}</div>
                        </th>
                        {% if timeslot.type == "service" %}
                        <th class="bg-warning text-center">
                            <p class="text-muted">{{timeslot.title}}</p>
                        </th>
                        {% else %}
                        <th class="bg-primary text-center">
                            <h5>{{timeslot.title}}</h5>
                            {% if timeslot.speaker %}
                            <h5>{{timeslot.speaker}}</h5>
                            {% endif %}
                            {% if timeslot.chair %}
                            <h6>Session chair:{{timeslot.chair}}</h6>
                            {% endif %}
                        </th>
                        {% endif %}
                    </tr>
                </thead>
                {% if timeslot.events %}
                <tbody>
                    {% for event in timeslot.events %}
                    <tr>
                        <td width="20%">
                        </td>
                        <td>
                            <p><b>{{event.title}}</b></p>
                            <p><i>{{event.speakers}}</i></p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-warning rounded text-center mx-3 my-5">
            TBA
        </div>
        {% endif %}

        <div class="conference-text">
            {% include contact-us.html %}
        </div>
    </div>
</div>