---
layout: page
slide_id: 0
---

<div class="row">
    <div class="col text-justify conference-text">
        <div>
            <h5>REGISTRATION</h5>
            {% if site.data.registration.about %}
            <p>
                {{site.data.registration.about}}
            </p>
            {% endif %}
            {% if site.data.registration.url %}
            <p>
                <a href="{{site.data.registration.url}}">
                    {{site.data.registration.url}}
                </a>
            </p>
            {% endif %}
            <h5>VISA INFO</h5>
            <p>
                If you are an international traveler and needs a visa to enter
                {{site.data.conference.country}}, please contact us after your paper is accepted.
            </p>
            {% include contact-us.html %}
        </div>
    </div>

</div>