<div class="card">
    <div class="card-header text-white bg-dark">
        <i class="fa fa-calendar-o mr-3" aria-hidden="true"></i><strong>Important Dates</strong>
        {% if site.data.conference.deadline_timezone %}
        <span class="float-right"><i class="fa fa-globe"></i><i class="fa fa-clock-o"></i> {{site.data.conference.deadline_timezone}}</span>
        {% endif %}
    </div>
    <div class="card-block bg-light">
        <ul class="list-group list-group-flush">
            {% if site.data.conference.deadlines %}
                {% for deadline in site.data.conference.deadlines %}

                        <li class="list-group-item bg-light text-muted">
                            {% if deadline.pass_due %}
                            <del>
                            {% endif %}
                                <p><strong>{{ deadline.text }}:</strong>
                                {% if deadline.timezone %}
                                {{ deadline.date | date: "%B %e, %Y." }} ({{ deadline.timezone }})
                                {% else %}
                                {{ deadline.date | date: "%B %e, %Y." }}
                                {% endif %}</p>
                            {% if deadline.pass_due %}
                            </del>
                            {% endif %}
                        </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item bg-light text-muted">TBA</li>
            {% endif %}
        </ul>
    </div>
</div>